body  {
  text-align: center;
  font-family: Helvetica;
  background-image: url(imagens/mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(233,233,233);
}

img  {
  width: 24%;
  margin-top: 500px;
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(219,219,219);
  border-width: 10px;
}


h1  {
  font-size: 90px;
  padding-top: 0px;
  text-shadow: 2px 2px 2px gray ;
}

h2  {
	font-size: 70px;
}

p {
	font-size: 40px;
}

.button  {
	text-decoration: none;
	background-color: rgba(41,79,89,0.8);
	color: rgb(233,233,233);
	font-size: 40px;
	padding: 8px 12px 8px 12px;
	border-radius: 6px;
}

.button:hover {
	background-color: rgb(40,65,72,0.8);
}

.list  {
	list-style: none;
	padding-left: 0;
	margin-top: 700px;
}

.list li  {
	display: inline;
}

.list a  {
	color: rgb(173,136,45);
	font-size: 100px;
}